.pager {
  height: 560px;
}
$slider_height: 520px;
//slider
.ant-carousel .slick-slide {
  text-align: center;
  background: #364d79;
  height: $slider_height;
  overflow: hidden;
}

.ant-carousel .slick-dots li {
  background: #364d79;
  &.slick-active {
    background: #001529;
    button {
      background: #001529;
    }
  }
}

.slider_wrapper{
  .desc{
    position: relative;
    top: -$slider_height;
  }
}



// scope

.scope_wrapper {
  padding: 140px 0;

  .title {
    text-align: center;
    padding: 20px;
  }
  .item {
    height: 300px;
    text-align: center;
    .icon {
      width: 100%;
      font-size: 60px;
    }
  }
}


// feature

.feature_wrapper {
  padding: 140px 0;

  .title {
    text-align: center;
    padding: 20px;
  }
  .item {
    height: 300px;
    text-align: center;
    .icon {
      width: 100%;
      font-size: 60px;
    }
  }
}

// process

.process_wrapper {
  padding: 140px 60px;
  background: #efefef;
  .process {
    margin: 0 auto;
    .title {
      text-align: center;
      padding-bottom: 40px;
    }
  }

}
